
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin: 30px auto;
    text-align: left;
    width: 970px;
    background-color: #dddddd;
    border: 1px solid black;
    padding: 20px;
}

#wrapper h1 {
    margin: 20px 0px 40px;
    font-size: 3em;
    font-weight: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

fieldset {
    position: relative;
    text-align: left;
    margin: 40px;
    padding: 10px 30px;
    height: 450px;
}

legend {
    font-size: 2em;
}